:root {
    --cor-1: #FFC122;
    --cor-2: #29C2B4;
}

body {
    background-color: var(--cor-1);
}

@media only screen and (max-width: 720px) {
    .elements {
        display: flex;
        flex-direction: column;
        margin: 70% 0% 0% 0%;
        align-items: center;
        gap: 40px;
    }

    .dia {
        background-color: var(--cor-2);
        width: 100%;
    }

    .line {
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 50%;
    }

    .butao {
        background-color: #29C2B4;
        width: 30%;
        padding: 2%;
    }

}